<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>HOME</h1>

    <a href="/home/crudproductos/">
        <button>ACCEDER CRUD PRODUCTOS</button>
    </a>

    <a href="/home/crudcategorias/">
        <button>ACCEDER CRUD CATEGORIAS</button>
    </a>

    <a href="/home/crudbodega/">
        <button>ACCEDER CRUD BODEGA</button>
    </a>

    <a href="/">
        <button>CERRAR SESION</button>
    </a>
    
</body>
</html>