<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ACCION A REALIZAR PRODUCTO</title>
    <script src="{%static "js/crudVolver.js" %}"></script>
</head>
<body>

    <h1>ACCION A REALIZAR PRODUCTO</h1>

    <button type="button" onclick="irAgregarProductoFormulario()">CONTINUAR</button>

    <button type="button" onclick="regresarCrudProducto()">VOLVER ATRAS</button>

</body>
</html>