{% extends 'base-crud.html' %}
<!-- Extiende la plantilla base que contiene la estructura general, estilos y scripts comunes -->

{% block title %}Confirmar eliminacion de usuario{% endblock %}
<!-- Define el título de la pestaña del navegador -->

{% block breadcrumb %}
    <!-- Bloque de navegación (breadcrumbs) que indica la ruta dentro del sistema -->
    <li>
        {% if request.session.Usuario_Username == "Admin" %}
            <a href="{% url 'adminhome' %}">Panel Admin ></a>
            <a href="{% url 'admin-crud-producto' %}">Crud Productos > </a>
            <a>Confirmar eliminacion</a>
        {% else %}
            <a href="{% url 'home' %}">Home ></a>
            <a href="{% url 'crud-producto' %}">Crud Productos > </a>
            <a>Confirmar eliminacion</a>
        {% endif %}
    </li>
{% endblock %}

{% block header_title %}
    <!-- Título principal dentro de la página -->
    <h1 class="header-title">CONFIRMACION DE ELIMINACION</h1>
{% endblock %}

{% block content %}
    <!-- Bloque principal de contenido dinámico -->
    <section>
        <!-- Mensaje de confirmación mostrando el nombre del producto -->
        <h1>¿Seguro que deseas eliminar el producto: {{ pro.NombreProducto }} ?</h1>
        
        <!-- Botón de volver, llama a función JS para regresar al listado -->
        {% if request.session.Usuario_Username == "Admin" %}
            <a href="{% url 'admin-crud-producto' %}">
                <button class="button-header" type="button">Volver al Panel Admin</button>
            </a>
        {% else %}
            <a href="{% url 'crud-producto' %}" >
                <button class="button-header" type="button">Volver al Inicio</button>
            </a>
        {% endif %}

        <!-- Formulario POST para eliminar el producto -->
        <form method="POST" 
            action="
                {% if request.session.Usuario_Username == "Admin" %}
                    {% url 'admin-eliminar-producto' pro.IdProducto %}
                {% else %}
                    {% url 'eliminar-producto' pro.IdProducto %}
                {% endif %}
            ">
            {% csrf_token %} <!-- Token de seguridad contra CSRF -->
            <button type="submit">ELIMINAR</button>
        </form>
    </section>
{% endblock %}

    