<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD PRODUCTO</title>
    <script src="{%static 'js/crudVolver.js' %}"></script>
    <script src="{%static 'js/revisarYAlmacenarAccion.js' %}"></script>
    <link rel="stylesheet" href="{%static 'css/crud-producto-style.css'%}">
</head>
<body class="inicio-div-style">
    
    <header>
        <h1>CRUD PRODUCTO</h1>
    </header>
    
    <div class="boton-style">
        <button type="button" onclick="registrarProductosAccion(); irAgregarProductoFormulario(); ">AGREGAR PRODUCTO</button>
    </div>
    

    {% include "templateCrudProducto/mostrarproductos.html" %}

    <br>
    <br>

    <div class="boton-style">
        <button type="button" onclick="crudVolver()">VOLVER ATRAS</button>
    </div>
    

</body>
</html>