<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOSTRAR EMPLEADOS</title>
    <link rel="stylesheet" href="{%static 'css/crud-producto-style'%}">
</head>
<body class="inicio-div-style">

    <header>
        <h1>LISTA PRODUCTOS</h1>
    </header>
    
    <table class="tabla-gestion-style">
        <thead>
            <tr class="tabla-gestion-style-first">
                <th>Categoria Producto</th>
                <th>Codigo Producto</th>
                <th>Valor Producto</th>
                <th>Stock Producto</th>
                <th>Nombre Producto</th>
                <th>Fecha Registro Producto</th>
                <th>Marco Producto</th>
                <th>Fecha Vencimiento Producto</th>
            </tr>
        </thead>
        <tbody id="mostrarProductos">
            <script>
                /* Función para mostrar todos los productos almacenados en localStorage */
                function mostrarProductos() {
                    // Obtiene el elemento HTML donde se mostrarán los productos
                    let eMostrarProductos = document.getElementById("mostrarProductos");

                    // Recupera el arreglo de productos desde localStorage, o un arreglo vacío si no existe
                    let productos = JSON.parse(localStorage.getItem("productos")) || [];

                    // Genera las filas de la tabla con los datos de cada producto
                    eMostrarProductos.innerHTML = productos.map((p, index) => {
                        return "<tr>"+
                                    "<td>"+p.categoriaProducto+"</td>"+   // Columna con la categoría del producto
                                    "<td>"+p.codigoBarras+"</td>"+        // Columna con el código de barras
                                    "<td>"+p.valorProducto+"</td>"+       // Columna con el valor
                                    "<td>"+p.stockProducto+"</td>"+       // Columna con el stock
                                    "<td>"+p.nombreProducto+"</td>"+      // Columna con el nombre
                                    "<td>"+p.fechaRegistro+"</td>"+       // Columna con la fecha de registro
                                    "<td>"+p.marcaProducto+"</td>"+       // Columna con la marca
                                    "<td>"+p.fechaVencimiento+"</td>"+    // Columna con la fecha de vencimiento
                            "</tr>";
                    }).join(""); // Une todas las filas en un solo string
                }

                // Llama a la función mostrarProductos cuando la página termina de cargar
                window.onload = mostrarProductos;
            </script>
        </tbody>
    </table>
</body>
</html>