<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Productos</title>
    <link rel="stylesheet" href="{% static 'css/models-style.css' %}">
    <script src='{%static "js/crudVolver.js" %}'></script>
</head>
<body>
    <!-- Título de la página -->
    <header>
        <h1 class="header-title">LISTA DE PRODUCTOS</h1>
        <!-- Botones de navegación -->
        <button class="button-header" type="button" onclick="crudVolver()">VOLVER</button>
        <a href="registro-producto/"><button class="button-header" type="button">REGISTRAR PRODUCTO</button></a>
    </header>

    <!-- Verifica si hay productos en la base de datos -->
    {% if Productos %}
    <table>
        <thead>
            <tr>
                <th>ID PRODUCTO</th>
                <th>Código de barras</th>
                <th>Valor</th>
                <th>Stock</th>
                <th>Nombre del producto</th>
                <th>Fecha de registro</th>
                <th>Marca</th>
                <th>Fecha de vencimiento</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <!-- Recorre todos los productos y muestra sus datos en filas -->
            {% for pro in Productos %}
            <tr>
                <td>{{ pro.IdProducto }}</td>
                <td>{{ pro.CodigoDeBarras }}</td>
                <td>{{ pro.ValorProducto }}</td>
                <td>{{ pro.StockProducto }}</td>
                <td>{{ pro.NombreProducto }}</td>
                <td>{{ pro.FechaDeRegistroProducto }}</td>
                <td>{{ pro.MarcaProducto }}</td>
                <td>{{ pro.FechaDeVencimiento }}</td>
                <!-- Enlaces para actualizar o eliminar el producto -->
                <td>
                    <button type="button" onclick="regresarAdminOrHome('crud-productos/actualizar-producto/{{ pro.IdProducto }}')"  onclick="return confirm('¿Seguro que deseas actualizar este producto?')">ACTUALIZAR</button>
                    <a href="/adminhome/crud-productos/eliminar-producto/{{ pro.IdProducto }}"><button  onclick="return confirm('¿Seguro que deseas eliminar este producto?')">ELIMINAR</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <!-- Mensaje cuando no hay productos registrados -->
        <div class="no-registros">
            <h1>NO HAY PRODUCTOS REGISTRADOS</h1>
        </div>
    {% endif %}

    
</body>
</html>
