{% extends 'base-form.html' %}

    {% block title %}Registro de Producto{% endblock %}

    {% block breadcrumb %}
        <li>
            <a onclick="crudVolver()">home > </a>
            <a onclick="regresarCrudProducto()">Crud producto > </a>
            <a>Formulario producto</a>
        </li>
    {% endblock %}

    <!-- Título de la página -->
    {% block header_title %}
        <h1 class="header-title">REGISTRO DE PRODUCTO</h1>
        <!-- Botón para volver al listado de productos -->
        <button class="button-header" type="button" onclick="regresarCrudProducto()">VOLVER</button>
    {% endblock %}

    <!-- Formulario para crear o actualizar productos -->
    {% block content %}
        <form method="POST" novalidate>
            {% csrf_token %} <!-- Token de seguridad obligatorio en Django -->
            {{ form.as_div }} <!-- Renderiza automáticamente todos los campos del formulario como párrafos -->
            <input class="form-enviar" type="submit" value="ENVIAR"  onclick="return confirm('¿Seguro que deseas enviar estos datos?')"> <!-- Botón para enviar el formulario -->
        </form>
        {% if valor %}
        <script>
            // Llamamos a tu función que estaba en mi_script.js
            regresarCrudProducto(); 
        </script>
        {% endif %}
    {% endblock %}
