<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD CATEGORIAS</title>
    <script src="{%static 'js/crudVolver.js' %}"></script>
    <script src="{%static 'js/revisarYAlmacenarAccion.js' %}"></script>
    <link rel="stylesheet" href="{%static 'css/crud-categoria-style.css'%}">
</head>
<body class="inicio-div-style">
    
    <header>
        <h1>CRUD CATEGORIAS</h1>
    </header>

    <div class="boton-style">
        <button type="button" onclick="registrarCategoriaAccion(); accionIrAlFormularioCategorias();">AGREGAR CATEGORIAS</button>    
    </div>
    
    {% include "templateCrudCategoria/mostrarcategoria.html" %}

    <br>
    <br>

    <div class="boton-style">
        <button type="button" onclick="crudVolver()">VOLVER ATRAS</button>
    </div>
    
</body>
</html>