<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{%static 'js/FormularioCategoria.js' %}"></script>
    <script src="{%static 'js/crudVolver.js' %}"></script>
    <link rel="stylesheet" href="{%static 'css/form-style.css'%}">
</head>
<body>
    <div class="form-container">
        <h1>Formulario de registro de Categorias</h1>
            <label>Nombre: </label>
            <input
            name="nombreCategoria"
            id="nombreCategoria"
            type="text"
            placeholder="Ingrese el Nombre de la Categoria">
            </input>
            <span id="eNombreCategoriaE"></span>
            <br></br>
            <br></br>
            <label>Descripcion: </label>
            <textarea 
            name="descripcionCategoria"
            id="descripcionCategoria"
            className="Descripcion"
            ></textarea>
            <span id="eDescripcionCategoriaE"></span>
            <br></br>
            <br></br>

            <button
                className="BotonesEncabezado" onclick="validar()">Registrar Categoria
            </button>

            <script>
                /* Función para validar el registro de categorías */
                function validar() {
                    // Llama a la función registrarCategorias() y guarda su resultado
                    const validador = registrarCategorias();

                    // Si registrarCategorias devuelve false, significa que faltan datos
                    if (validador == false) {
                        alert("Faltan datos."); // Muestra alerta al usuario
                        return; // Sale de la función
                    }
                    // Si registrarCategorias devuelve true, significa que todo está correcto
                    else if (validador == true){
                        // Redirige a la página de listado de categorías según el rol
                        window.onload = regresarCrudCategorias();
                    }
                }
            </script>

            <br></br>
            <span id="errorRegistrar"></span>
        
        <button type="button" onclick="regresarCrudCategorias()">VOLVER ATRAS</button>
    </div>
</body>
</html>