<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="{%static 'js/FormularioCategoria.js' %}"></script>
</head>
<body>
    <h1>Formulario de registro de Categorias</h1>
        <label>Nombre: </label>
        <input
        name="nombreCategoria"
        id="nombreCategoria"
        type="text"
        placeholder="Ingrese el Nombre de la Categoria">
        </input>
        <span id="eNombreCategoriaE"></span>
        <br></br>
        <br></br>
        <label>Descripcion: </label>
        <textarea 
        name="descripcionCategoria"
        id="descripcionCategoria"
        className="Descripcion"
        ></textarea>
        <span id="eDescripcionCategoriaE"></span>
        <br></br>
        <br></br>

        <button
        className="BotonesEncabezado" onclick="registrarCategorias()">Registrar Categoria
        </button>
        <br></br>
        <span id="errorRegistrar"></span>
</body>
</html>