<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOSTRAR EMPLEADOS</title>
    <link rel="stylesheet" href="{%static 'css/crud-categoria-style'%}">
</head>
<body class="inicio-div-style">

    <header>
        <h1>LISTA CATEGORIAS</h1>
    </header>
    
    <table class="tabla-gestion-style">
        <thead>
            <tr class="tabla-gestion-style-first">
                <th>Nombre Categoria</th>
                <th>Descripcion Catgeroria</th>
            </tr>
        </thead>
        <tbody id="mostrarCategorias">
            <script>
                /* Función para mostrar todas las categorías almacenadas en localStorage */
                function mostrarCategorias() {
                    // Obtiene el elemento HTML donde se mostrarán las categorías
                    let eMostrarCategorias = document.getElementById("mostrarCategorias");

                    // Recupera el arreglo de categorías desde localStorage, o un arreglo vacío si no existe
                    let categorias = JSON.parse(localStorage.getItem("categorias")) || [];

                    // Genera las filas de la tabla con los datos de cada categoría
                    eMostrarCategorias.innerHTML = categorias.map((p, index) => {
                        return "<tr>"+
                                    "<td>"+p.nombreCategoria+"</td>"+ // Columna con el nombre de la categoría
                                    "<td>"+p.descripcion+"</td>"+     // Columna con la descripción de la categoría
                            "</tr>";
                    }).join(""); // Une todas las filas en un solo string
                }

                // Llama a la función mostrarCategorias cuando la página termina de cargar
                window.onload = mostrarCategorias;
            </script>
        </tbody>
    </table>
</body>
</html>