<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LISTA DE CATEGORIAS</title>
    <link rel="stylesheet" href="{%static 'css/models-style.css' %}">
</head>
<body>
    <header>
        <h1>LISTA DE CATEGORIAS</h1>
    </header>
    {% if CategoriaProducto %}
    <table>
        <thead>
            <tr>
                <th>ID CATEGORIA PRODUCTO</th>
                <th>Nombre Categoria</th>
                <th>Descripcion Categoria</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for bod in CategoriaProducto %}
            <tr>
                <td>{{ bod.IdCategoriaProducto}}</td>
                <td>{{ bod.NombreCategoria }}</td>
                <td>{{ bod.Descripcion }}</td>
                <td>
                    <a href="/adminhome/crud-categoriaProducto/actualizar-categoriaProducto/{{ bod.IdCategoriaProducto }}"><button>ACTUALIZAR</button></a>
                    <a href="/adminhome/crud-categoriaProducto/eliminar-categoriaProducto/{{ bod.IdCategoriaProducto }}"><button>ELIMINAR</button></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div>NO HAY CATEGORIAS</div>
    {% endif %}

    <a href="/adminhome/"><button type="button">VOLVER</button></a>
    <a href="registro-categoriaProducto/"><button type="button">REGISTRAR CATEGORIA</button></a>
</body>
</html>