{% extends 'base-form.html' %}
<!-- Extiende la plantilla base de formulario, heredando estilos y estructura general -->

{% block title %}Registro de categorias{% endblock %}
<!-- Define el título de la página que aparecerá en la pestaña del navegador -->

{% block breadcrumb %}
    <!-- Breadcrumb para mostrar la navegación jerárquica -->
    <li>
        {% if request.session.Usuario_Username == "Admin" %}
            <a href="{% url 'adminhome' %}">Panel Admin ></a>
            <a href="{% url 'admin-crud-categoria' %}">Crud Categoria > </a>
            <a>Formulario categoria</a>
        {% else %}
            <a href="{% url 'home' %}">Home ></a>
            <a href="{% url 'crud-categoria' %}">Crud Categoria > </a>
            <a>Formulario categoria</a>
        {% endif %}
    </li>
{% endblock %}

{% block header_title %}
    <!-- Título principal de la página -->
    <h1 class="header-title">REGISTRO DE CATEGORIAS</h1>

    <!-- Botón para volver al listado de categorías -->
    {% if request.session.Usuario_Username == "Admin" %}
        <a href="{% url 'admin-crud-categoria' %}">
            <button class="button-header" type="button">Volver al Panel Admin</button>
        </a>
    {% else %}
        <a href="{% url 'crud-categoria' %}">
            <button class="button-header" type="button">Volver al Inicio</button>
        </a>
    {% endif %}
{% endblock %}

{% block content %}
    <!-- Formulario para crear o actualizar categorías -->
    <form method="POST" novalidate>
        {% csrf_token %} <!-- Token de seguridad obligatorio en Django -->
        {{ form.as_div }} <!-- Renderiza automáticamente todos los campos del formulario como divs/párrafos -->
        <input class="form-enviar" type="submit" value="ENVIAR" onclick="return confirm('¿Seguro que deseas enviar estos datos?')">
        <!-- Botón de envío con confirmación -->
    </form>
{% endblock %}
