{% extends 'base-form.html' %}

    {% block title %}Registro de categorias{% endblock %}
    <!-- Título de la página -->
    {% block header_title %}
        <h1 class="header-title">REGISTRO DE CATEGORIAS</h1>
        <button class="button-header" type="button" onclick="regresarCrudCategoriaProducto()">VOLVER</button>
    {% endblock %}
    
    {% block content %}
        <form method="POST" novalidate>
            {% csrf_token %}
            {{ form.as_div }}
            <input class="form-enviar" type="submit" value="ENVIAR" onclick="return confirm('¿Seguro que deseas enviar estos datos?')">
        </form>
        {% if valor %}
        <script>
            // Llamamos a tu función que estaba en mi_script.js
            regresarCrudCategoriaProducto();
        </script>
        {% endif %}
    {% endblock %}
