@import url('https://api.fontshare.com/v2/css?f[]=general-sans@400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'General Sans', sans-serif;
    background-color: #EBECF2;
}

/* ======== HEADER Y MAIN ======== */
.inicio-div-style header {
    text-align: center;
    width: 100%;
    height: 90px;
    background-color: rgb(107, 33, 33);
}

.inicio-div-style main {
    display: flex;
    justify-content: center;
    width: 100%;
}

/* ======== NAV COMO GRID MANUAL ======== */
.inicio-div-style nav {
    display: grid;
    width: 850px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    grid-template-columns: 1fr 1fr 1fr;  
    grid-template-rows: auto auto auto; 
    gap: 15px;

    grid-template-areas:
        "empleados usuarios productos"
        "categorias bodegas cargos"
        "cerrar cerrar cerrar";
}

/* Conexión de áreas */
.area-empleados { 
    grid-area: empleados; 
}

.area-usuarios { 
    grid-area: usuarios; 
}

.area-productos { 
    grid-area: productos; 
}

.area-categorias {
    grid-area: categorias; 
}

.area-bodegas { 
    grid-area: bodegas; 
}

.area-cargos { 
    grid-area: cargos; 
}

.area-cerrar { 
    grid-area: cerrar; 
}


/* ======== BOTONES ======== */
.inicio-div-style a {
    text-decoration: none;
    color: black;
}

.inicio-div-style button {
    width: 100%;
    height: 150px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 14px;
    font-weight: bold;
}

.inicio-div-style button:hover {
    background-color: #dfe0e4;
}

/* ======== ICONOS ======== */
.inicio-style-img {
    width: 45px;
    height: 45px;
}
