{% extends 'base-crud.html' %}

{% block title %}Confirmar eliminacion de usuario{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/adminhome/">Admin home > </a>
        <a href="/adminhome/crud-usuarios">Crud usuarios > </a>
        <a>Confirmar eliminacion</a>
    </li>
{% endblock %}

{% block header_title %}
    <h1 class="header-title">CONFIRMACION DE ELIMINACION</h1>
{% endblock %}

{% block content %}
    <section>
        <h1>¿Seguro que deseas eliminar el usuario: {{ usu.Username}} ?</h1>
        
        <a href="/adminhome/crud-usuarios/"><button class="button-header" type="button">VOLVER</button></a>

        <form method="POST" action="{% url 'eliminar-usuario' usu.IdUsuarios %}">
            {% csrf_token %}
            <button type="submit">ELIMINAR</button>
        </form>
    </section>
{% endblock %}