<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD USUARIO</title>
</head>
<body>

    <h1>CRUD USUARIO</h1>
    
    <a href="/adminhome/crudusuarios/accion-a-realizar-usuario">
        <button>AGREGAR USUARIO</button>
    </a>

    {% include "templateCrudUsuario/mostrarusuarios.html" %}

    <a href="/adminhome/">
        <button>VOLVER ATRAS</button>
    </a>

</body>
</html>