<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRAR USUARIO</title>
    <script src="{%static 'js/FormularioUsuario.js' %}"></script>
    <link rel="stylesheet" href="{%static 'css/form-style.css'%}">
</head>
<body>
    <div class="form-container">
    <h1>Formulario de registro de Usuarios</h1>
        <label>Rut: </label>
        <select
        name="rutEmpleado"
        id="rutEmpleado">
        </select>
        <script>
            let empleados = JSON.parse(localStorage.getItem("empleadosA"))
            let datos = document.getElementById("rutEmpleado")
            datos.innerHTML = `<option value="">Elige el rut del usuario</option>`
            empleados.forEach(empleado => {
                let rut = `<option value="${empleado.rut}">${empleado.rut}</option>`
                datos.innerHTML += rut;
            }); 
        </script>
        <span id="eRutE"></span>
        <br></br>
        <br></br>
        <label>Tipo: </label>
        <select
        name="cargoUsuario"
        id="cargoUsuario">
            <option value="">Elige el cargo del usuario</option>
            <option value="admin">Cargo de Administrador</option>
            <option value="bodeguero">Cargo de Bodeguero</option>
        </select>
        <span id="eCargoE"></span>
        <br></br>
        <br></br>
        <label>Contraseña: </label>
        <input
        name="contraseniaUsuario"
        id="contraseniaUsuario"
        type="text"
        placeholder="Ingrese la contraseña del Usuario">
        </input>
        <span id="eContraseniaUsuarioE"></span>
        <br></br>
        <br></br>

        
        <button
            className="BotonesEncabezado" onclick="validar()">Registrar Usuario
        </button>

        <script>
            /* Función para validar el registro de usuarios */
            function validar() {
                // Llama a la función registrarUsuarios() que intenta registrar un usuario
                // Devuelve true si todos los campos son válidos, o false si falta algún dato
                const validador = registrarUsuarios();

                // Si registrarUsuarios devuelve false, significa que faltan datos
                if (validador == false) {
                    alert("Faltan datos."); // Muestra alerta al usuario
                    return; // Sale de la función sin continuar
                }
                // Si registrarUsuarios devuelve true, todo está correcto
                else if(validador == true){
                    // Redirige al listado de usuarios
                    window.location.href = "/adminhome/crudusuarios";
                }
            }
        </script>

        <br></br>
        <span id="errorRegistrar"></span>

    <a href="/adminhome/crudusuarios">
        <button>VOLVER ATRAS</button>
    </a>
    </div>
</body>
</html>