<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOSTRAR EMPLEADOS</title>
    <link rel="stylesheet" href="{%static 'css/crud-usuario-style.css'%}">
</head>
<body class="inicio-div-style">

    <header>
        <h1>LISTA USUARIOS</h1>
    </header>

    <table class="tabla-gestion-style">
        <thead>
            <tr class="tabla-gestion-style-first">
                <th>RUT Empleado</th>
                <th>Cargo Empleado</th>
            </tr>
        </thead>
        <tbody id="mostrarUsuarios">
            <script>
                /* Función para mostrar todos los usuarios almacenados en localStorage */
                function mostrarUsuarios() {
                    // Obtiene el elemento HTML donde se mostrarán los usuarios
                    let eMostrarUsuarios = document.getElementById("mostrarUsuarios");

                    // Recupera el arreglo de usuarios desde localStorage, o un arreglo vacío si no existe
                    let usuarios = JSON.parse(localStorage.getItem("usuarios")) || [];

                    // Genera las filas de la tabla con los datos de cada usuario
                    eMostrarUsuarios.innerHTML = usuarios.map((p, index) => {
                        return "<tr>"+
                                    "<td>"+p.rut+"</td>"+   // Columna con el RUT del usuario
                                    "<td>"+p.cargo+"</td>"+ // Columna con el cargo del usuario
                            "</tr>";
                    }).join(""); // Une todas las filas en un solo string
                }

                // Llama a la función mostrarUsuarios cuando la página termina de cargar
                window.onload = mostrarUsuarios;
            </script>
        </tbody>
    </table>
</body>
</html>