<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOSTRAR EMPLEADOS</title>
    <script src="{%static 'js/MostrarEmpleados.js' %}"></script>
</head>
<body>
    <h1>LISTA USUARIOS</h1>
    <br></br>
    <table>
        <thead>
            <tr>
                <th>RUT Empleado</th>
                <th>Cargo Empleado</th>
            </tr>
        </thead>
        <tbody id="mostrarUsuarios">
            <script>
                function mostrarUsuarios() {
                    let eMostrarUsuarios = document.getElementById("mostrarUsuarios");

                    let usuarios = JSON.parse(localStorage.getItem("usuarios")) || [];

                    eMostrarUsuarios.innerHTML = usuarios.map((p, index) => {
                        return "<tr>"+
                                "<td>"+p.rut+"</td>"+
                                "<td>"+p.cargo+"</td>"+
                            "</tr>";
                    })
                }
                // Llamar a la función cuando cargue la página
                window.onload = mostrarUsuarios;
            </script>
        </tbody>
    </table>
</body>
</html>