<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USUARIO MODELS</title>
</head>
<body>
    <div>LISTADO DE USUARIO</div>

    {%if Usuarios %}

    <table>
        <thead>
            <tr>
                <th>ID USUARIO</th>
                <th>Username</th>
                <th>Password</th>
            </tr>
        </thead>
        <tbody>
            {% for usu in Usuarios %}
            <tr>
                <td scope="row">{{ usu.IdUsuarios }}</td>
                <td>{{ usu.Username }}</td>
                <td>{{ usu.Password }}</td>
                <!-- Enlaces para actualizar o eliminar el usuario -->
                <td>
                    <a href="/adminhome/crud-usuarios/actualizar-usuario/{{ usu.IdUsuarios }}">ACTUALIZAR</a> |
                    <a href="/adminhome/crud-usuarios/eliminar-usuario/{{ usu.IdUsuarios }}">ELIMINAR</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div>NO HAY USUARIOS REGISTRADOS</div>
    {% endif %}

    <!-- Botones de navegación -->
    <a href="/adminhome/"><button type="button">VOLVER</button></a>
    <a href="registro-usuario/"><button type="button">REGISTRAR USUARIO</button></a>
</body>
</html>