<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD BODEGA</title>
    <script src="{%static 'js/crudVolver.js' %}"></script>
</head>
<body class="inicio-div-style">
    
    <header>
        <h1>CRUD BODEGA</h1>
    </header>
    
    <div class="boton-style">
        <button type="button" onclick="accionProductoABodega()">AGREGAR PRODUCTO A BODEGA</button>
    </div>
    
    {% include "templateCrudBodega/mostrarbodegas.html" %}

    <br>
    <br>

    <div class="boton-style">
        <button type="button" onclick="crudVolver()">VOLVER ATRAS</button>
    </div>
    
</body>
</html>