{% extends 'base-crud.html' %}
<!-- Hereda la estructura y el diseño general de la plantilla base para las vistas CRUD -->

{% block content %}
<!-- Define el bloque de contenido principal que se insertará en la plantilla base -->

<script>
    // Llama a la función JavaScript "regresarCrudBodega()" definida externamente (probablemente en un archivo .js)
    // Esta función se encarga de redirigir o regresar automáticamente a la página principal del CRUD de bodegas
    regresarCrudBodega();
</script>

{% endblock %}
<!-- Fin del bloque de contenido -->