<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forms-style.css' %}">
    <script src='{%static "js/crudVolver.js" %}'></script>
    <title>Registro de Bodegas</title>
<body>

    <header>
        <h1 class="header-title">REGISTRO DE BODEGAS</h1>
        <button class="button-header" type="button" onclick="regresarCrudBodega()">VOLVER</button>
    </header>
    
    <form method="POST" novalidate>
        {% csrf_token %}
        {{ form.as_div }}
        <input class="form-enviar" type="submit" value="ENVIAR" onclick="return confirm('¿Seguro que deseas enviar estos datos?')">
    </form>
    {% if valor %}
    <script>
        regresarCrudBodega(); 
    </script>
    {% endif %}
</body>
</html>