<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forms-style.css' %}">
    <script src='{%static "js/crudVolver.js" %}'></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    
    <nav>
        <ol>
            {% block breadcrumb %}{% endblock %}
        </ol>
    </nav>
    
    
    <!-- Mensajes de feedback -->
    {% if messages %}
        <section class="messages">
            {% for message in messages %}
                <div class="message">
                    <h1>{{ message }}</h1>
                </div>
            {% endfor %}
        </section>
    {% endif %}

    <!-- Título de la página -->
    <header>
        {% block header_title %}{% endblock %}
    </header>

    <!-- Contenido dinámico (tablas) -->
    {% block content %}{% endblock %}
    
</body>
</html>
