<!DOCTYPE html>
<html lang="en">
{%load static%}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD EMPLEADOS</title>
    <link rel="stylesheet" href="{%static 'css/crud-empleado-style.css'%}">
    <script src="{%static 'js/revisarYAlmacenarAccion.js' %}"></script>
</head>
<body class="inicio-div-style">

    <header>
        <h1>CRUD EMPLEADOS</h1>
    </header>
    
    <a href="/adminhome/crudempleados/agregar-empleado" class="boton-style">
        <button onclick="registrarEmpleadosAccion()">AGREGAR EMPLEADO</button>
    </a>

    <a href="empleados-models/">
        <button>VER EMPLEADOS</button>
    </a>

    <br>
    <br>
    
    <a href="/adminhome/" class="boton-style">
        <button>VOLVER ATRAS</button>
    </a>
    

</body>
</html>