<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOSTRAR EMPLEADOS</title>
    <link rel="stylesheet" href="{%static 'css/crud-empleado-style.css'%}">
</head>
<body class="inicio-div-style">

    <header>
        <h1>LISTA EMPLEADOS</h1>
    </header>
    
    <table class="tabla-gestion-style">
        <thead>
            <tr class="tabla-gestion-style-first">
                <th>RUT Empleado</th>
                <th>Nombre Empleado</th>
                <th>Apelllido de Empleado</th>
                <th>Edad Empleado</th>
                <th>Numero Telefono Empleado</th>
            </tr>
        </thead>
        <tbody id="mostrarEmpleados">
            <script>
                /* Función para mostrar todos los empleados almacenados en localStorage */
                function mostrarEmpleados() {
                    // Obtiene el elemento HTML donde se mostrarán los empleados
                    let eMostrarEmpleados = document.getElementById("mostrarEmpleados");

                    // Recupera el arreglo de empleados desde localStorage, o un arreglo vacío si no existe
                    let empleados = JSON.parse(localStorage.getItem("empleadosA")) || [];

                    // Genera las filas de la tabla con los datos de cada empleado
                    eMostrarEmpleados.innerHTML = empleados.map((p, index) => {
                        return "<tr>"+
                                    "<td>"+p.rut+"</td>"+       // Columna con el RUT del empleado
                                    "<td>"+p.nombre+"</td>"+    // Columna con el nombre
                                    "<td>"+p.apellido+"</td>"+  // Columna con el apellido
                                    "<td>"+p.edad+"</td>"+      // Columna con la edad
                                    "<td>"+p.numero+"</td>"+    // Columna con el número de contacto
                            "</tr>";
                    }).join(""); // Une todas las filas en un solo string
                }

                // Llama a la función mostrarEmpleados cuando la página termina de cargar
                window.onload = mostrarEmpleados;
            </script>
        </tbody>
    </table>
</body>
</html>