{% extends 'base-form.html' %}

    <!-- Título de la página -->
    {% block title %}Registro de empleados{% endblock %}

    {% block breadcrumb %}
        <li>
            <a href="/adminhome/">Admin home > </a>
            <a href="/adminhome/crud-empleado">Crud empleado > </a>
            <a>Formulario empleado</a>
        </li>
    {% endblock %}

    {% block header_title %}
        <h1 class="header-title">REGISTRO DE EMPLEADOS</h1>
         <!-- Botón para volver al listado de empleados -->
        <a href="/adminhome/crud-empleado"><button class="button-header" type="button">VOLVER</button></a>
    {% endblock %}

    <!-- Formulario para crear o actualizar empleados -->
    {% block content %}
        <form method="POST" novalidate>
            {% csrf_token %} <!-- Token de seguridad obligatorio en Django -->
            {{ form.as_div }} <!-- Renderiza automáticamente todos los campos del formulario como párrafos -->
            <input class="form-enviar" type="submit" value="ENVIAR"  onclick="return confirm('¿Seguro que deseas enviar estos datos?')"> <!-- Botón para enviar el formulario -->
        </form>
    {% endblock %}

