{% extends 'base-crud.html' %}

{% block title %}Confirmar eliminacion de usuario{% endblock %}

{% block header_title %}
    <h1 class="header-title">CONFIRMACION DE ELIMINACION</h1>
{% endblock %}

{% block content %}
    <section>
        <h1>¿Seguro que deseas eliminar el cargo: {{ cag.TipoDeCargo}} ?</h1>
        
        <a href="/adminhome/crud-cargos/"><button class="button-header" type="button">VOLVER</button></a>

        <form method="POST" action="{% url 'eliminar-cargo' cag.IdCargos %}">
            {% csrf_token %}
            <button type="submit">ELIMINAR</button>
        </form>
    </section>
{% endblock %}