{% extends 'base-crud.html' %}

{% block title %}Detalle de Cargos{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/adminhome/">Admin home > </a>
        <a href="/adminhome/crud-cargos">Crud cargos > </a>
        <a>Detalle cargo</a>
    </li>
{% endblock %}

{% block header_title %}
    <h1 class="header-title">Detalle DE CARGOS</h1>
    <a href="/adminhome/crud-cargos"><button class="button-header" type="button">VOLVER</button></a>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>ID CARGO</th>
                <th>TIPO DE CARGO</th>
                <th>ESTADO DEL CARGO</th>
                <th>DESCRIPCION DEL CARGO</th>
                <th>SUELDO BASE</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ cag.IdCargos}}</td>
                <td>{{ cag.TipoDeCargo }}</td>
                <td>{{ cag.EstadoDelCargo }}</td>
                <td>{{ cag.DescripcionDelCargo }}</td>
                <td>{{ cag.SueldoBase }}</td>
                <td>
                    <a href="/adminhome/crud-cargos/actualizar-cargo/{{ cag.IdCargos }}"><button onclick="return confirm('¿Seguro que deseas actualizar este cargo?')">ACTUALIZAR</button></a>
                    <a href="/adminhome/crud-cargos/eliminar-cargo/{{ cag.IdCargos }}"><button>ELIMINAR</button></a>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}