<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/forms-style.css' %}"> 
    <title>Registro de Cargos</title>
<body>
    
    <header>
        <h1 class="header-title">REGISTRO DE CARGOS</h1>
        <a href="/adminhome/crud-cargos"><button class="button-header" type="button">VOLVER</button></a>   
    </header>
    
    <form method="POST">
        {% csrf_token %}
        {{ form.as_div }}
        <input class="form-enviar" type="submit" value="ENVIAR" onclick="return confirm('¿Seguro que deseas enviar estos datos?')"/>
        
    </form>

</body>
</html>